html {
    background: no-repeat;
    z-index: 1;
    background-color: beige;
    background-size: 100%;
    border: 5px solid black;
}

.ball1 {
    background-color:red ;
    z-index: 5;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: absolute;
}
